.song-container{
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.song-img{
  border-radius: 50%;
  animation: rotate 50s linear infinite;
}
.main-img{
  border-radius: 50%;
}

.rotate{
  transform: rotate(360deg);
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}