.library-songs{
  position: fixed;
  left: 0;
  top: 0;
  width: 27%;
  height: 100%;
  background: #16222A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 20px;
  overflow: auto;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.5s ease;
  color: #fff;

  img{
    border-radius: 10px;
    width: 30%;
    height: 25%;
  }

  h2{
    margin-bottom: 20px;
  }
}

.container{
  margin-left: 0;
  transition: all 0.5s ease;
}

.active-library{
  transform: translateX(0);
  opacity: 1;
}
.active-container{
  margin-left: 27%;
}


.library-song{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.library-song:hover{
  background-color: rgba(204, 204, 204, 0.275);
  cursor: pointer;
}
.active{
  background-color: rgba(204, 204, 204, 0.226);
}
.song-desc{
 padding-left: 1.5rem;
 text-align: left;
}

.song-names{
  font-family: 'Dancing Script';
}